body{
  margin: 0;
  padding: 0;
}

.SiteWrapper{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.about{
  display:flex;
  justify-content: center;
  padding: 5%;
  background-image: url(https://cdn.pixabay.com/photo/2021/07/27/16/02/library-6497266_960_720.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutHeading{
  color: #f9faf8;
  font-size: 36px;
  text-shadow:5px 5px 10px black;
  text-align: center;
  font-weight: bolder;
  
}

.aboutParagraph{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  color: #f9faf8;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

.buttons{
  background-color: #CE8E4C;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.addBook, .viewAll{
  background-color: #4A2408;
  color: #D8A160;
  padding: 10px;
  font-family: 'roboto', sans-serif;
  padding: 5px 10px;
  border: 3px solid blanchedalmond;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.3ch; 
}
